

.modal-weeklyView-header {
    border-bottom: var(--C3) solid 1px;
    margin-bottom: 2rem;
}

.modal-weeklyView-header span {
    
}

.modal-weeklyView-header i {
    color: var(--C3);
    font-size: 1.8rem;
    position: relative;
    top: 5px;
}

.modal-weeklyView-body {
    overflow: hidden;
    background-color: var(--C1);
    color: var(--C2);
    border-radius: 4px;
}
.modal-weeklyView-body .week {
    border: 1px solid var(--C3);
    border-radius: 4px;
    background-color: transparent;
}
.modal-weeklyView-body .week .days:not(:last-of-type){
    border-left: 1px solid var(--C3);

}
.modal-weeklyView-body .day{
    height: 12.5%;
    padding: 0.65rem;
}
.modal-weeklyView-body .day:not(:last-of-type){
    border-bottom: 1px solid var(--C3);
}
.modal-weeklyView-row {
    border-bottom: 1px dashed var(--C3);
    padding: 0.5rem 0.25rem;
}

.modal-weeklyView-row:nth-of-type(2n+1) {
    background-color: var(--C3);
}
.timeZone{
    width: 70%;
}
.hour-column {
    
}
.days{
    width: 30%;
    background-color: var(--C3-lower);
}
.timeZonRow{
    padding: 0!important;
    width: 100%;
    height: 12.5%;
}
.timeZonRow:first-of-type{
    background-color: var(--C3-lower);
}
.timeZonRow:not(:last-of-type){
    border-bottom: 1px solid var(--C3);
}
.timeZonRow-child{
    height: 100%;
    background-color: var(--C3-lower);
    text-align: center;
    padding-top: 10px;
    cursor: pointer;
    font-size: 12px;
    opacity: 0.7;
    border-right: 1px solid var(--C3);
}
.hour-column{
    position: absolute;
    width: 70%;
    right: 30%;
    height: 100%;
}
.hour-column-child{
    font-size: 11px;
    opacity: 0.6;
}
.hour-column-child:not(:last-of-type) {
    border-left: 1px solid var(--C2-lower);
}
#custom-tooltip {
    --bs-tooltip-bg: #5a5a5a;
    --bs-tooltip-color: var(--C2);
    position: absolute;
}
.custome-detail-close{
    color: var(--danger) !important;
    cursor: pointer;
}
@media only screen and (min-width: 990px) {
    .timeZone {
        width: 90%;
    }
    .hour-column {
        width: 90%;
        right: 10%;
    }


    .days {
        width: 10%;
    }
}